@model IEnumerable<CrapoDeeds.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Add Client", "AddClient")
</p>
<table class="table is-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.clientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.clientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.clientID })
        </td>
    </tr>
}

</table>
